:root {
  --section-preview-margin-y: 4.725rem;
  --section-preview-color: var(--white-rgb);
  --section-preview-gap: 1.625rem;
  @media (min-width: 1200px) {
    --section-preview-margin-y: 9.375rem;
    --section-preview-height: 66.875rem;
    --section-preview-gap: 3.375rem;
  }
}

.section-preview {
  position: relative;
  z-index: 1;
  display: flex;
  width: 100%;
  height: var(--section-preview-height);
  min-height: calc(100vh - (var(--header-height)));
  min-height: calc(100dvh - (var(--header-height)));
  color: rgba(var(--section-preview-color), 1);
  margin: var(--section-preview-margin-y) 0;
  overflow: hidden;
  &-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    user-select: none;
    pointer-events: none;
    & > * {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: rgba(var(--black-rgb), 0.3);
    }
  }
  & > .container {
    display: flex;
    flex: 1;
  }
  &-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    row-gap: var(--section-preview-gap);
    column-gap: var(--section-preview-gap);
  }
  &-title {
    font-family: "C059";
  }
  &-link {
    font-family: "Gotham";
    font-size: 1rem;
    @media (min-width: 1200px) {
      font-size: 1.625rem;
    }
    & > * {
      text-decoration: none;
    }
  }
}
