@font-face {
    font-family: "Kudryashev W08 Regular";
    src: url("../../fonts/Kudryashev/88d5f511032c4c3111484160e53ab6ba.eot");
    src:
        url("../../fonts/Kudryashev/88d5f511032c4c3111484160e53ab6ba.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Kudryashev/88d5f511032c4c3111484160e53ab6ba.woff") format("woff"),
        url("../../fonts/Kudryashev/88d5f511032c4c3111484160e53ab6ba.woff2") format("woff2"),
        url("../../fonts/Kudryashev/88d5f511032c4c3111484160e53ab6ba.ttf") format("truetype"),
        url("../../fonts/Kudryashev/88d5f511032c4c3111484160e53ab6ba.svg#Kudryashev W08 Regular") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Kudryashev W01 Normal";
    src: url("../../fonts/Kudryashev/5cc326d41af9db0e7ea58330944e4c7b.eot");
    src:
        url("../../fonts/Kudryashev/5cc326d41af9db0e7ea58330944e4c7b.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Kudryashev/5cc326d41af9db0e7ea58330944e4c7b.woff") format("woff"),
        url("../../fonts/Kudryashev/5cc326d41af9db0e7ea58330944e4c7b.woff2") format("woff2"),
        url("../../fonts/Kudryashev/5cc326d41af9db0e7ea58330944e4c7b.ttf") format("truetype"),
        url("../../fonts/Kudryashev/5cc326d41af9db0e7ea58330944e4c7b.svg#Kudryashev W01 Normal") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Kudryashev W01 Bold";
    src: url("../../fonts/Kudryashev/6e15144d680212747566baa4f9c3dece.eot");
    src:
        url("../../fonts/Kudryashev/6e15144d680212747566baa4f9c3dece.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Kudryashev/6e15144d680212747566baa4f9c3dece.woff") format("woff"),
        url("../../fonts/Kudryashev/6e15144d680212747566baa4f9c3dece.woff2") format("woff2"),
        url("../../fonts/Kudryashev/6e15144d680212747566baa4f9c3dece.ttf") format("truetype"),
        url("../../fonts/Kudryashev/6e15144d680212747566baa4f9c3dece.svg#Kudryashev W01 Bold") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Kudryashev W01 Italic";
    src: url("../../fonts/Kudryashev/f458090b6450baba7851bfe7ea038f4a.eot");
    src:
        url("../../fonts/Kudryashev/f458090b6450baba7851bfe7ea038f4a.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Kudryashev/f458090b6450baba7851bfe7ea038f4a.woff") format("woff"),
        url("../../fonts/Kudryashev/f458090b6450baba7851bfe7ea038f4a.woff2") format("woff2"),
        url("../../fonts/Kudryashev/f458090b6450baba7851bfe7ea038f4a.ttf") format("truetype"),
        url("../../fonts/Kudryashev/f458090b6450baba7851bfe7ea038f4a.svg#Kudryashev W01 Italic") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "C059";
    src: url("../../fonts/Century/C059-Italic.eot");
    src:
        url("../../fonts/Century/C059-Italic.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Century/C059-Italic.woff2") format("woff2"),
        url("../../fonts/Century/C059-Italic.woff") format("woff"),
        url("../../fonts/Century/C059-Italic.ttf") format("truetype"),
        url("../../fonts/Century/C059-Italic.svg#../../fonts/Century/C059-Italic") format("svg");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "C059";
    src: url("../../fonts/Century/C059-Italic_1.eot");
    src:
        url("../../fonts/Century/C059-Italic_1.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Century/C059-Italic_1.woff2") format("woff2"),
        url("../../fonts/Century/C059-Italic_1.woff") format("woff"),
        url("../../fonts/Century/C059-Italic_1.ttf") format("truetype"),
        url("../../fonts/Century/C059-Italic_1.svg#../../fonts/Century/C059-Italic") format("svg");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "C059";
    src: url("../../fonts/Century/C059-BdIta.eot");
    src:
        url("../../fonts/Century/C059-BdIta.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Century/C059-BdIta.woff2") format("woff2"),
        url("../../fonts/Century/C059-BdIta.woff") format("woff"),
        url("../../fonts/Century/C059-BdIta.ttf") format("truetype"),
        url("../../fonts/Century/C059-BdIta.svg#../../fonts/Century/C059-BdIta") format("svg");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "C059";
    src: url("../../fonts/Century/C059-Roman.eot");
    src:
        url("../../fonts/Century/C059-Roman.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Century/C059-Roman.woff2") format("woff2"),
        url("../../fonts/Century/C059-Roman.woff") format("woff"),
        url("../../fonts/Century/C059-Roman.ttf") format("truetype"),
        url("../../fonts/Century/C059-Roman.svg#../../fonts/Century/C059-Roman") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "C059";
    src: url("../../fonts/Century/C059-Roman_1.eot");
    src:
        url("../../fonts/Century/C059-Roman_1.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Century/C059-Roman_1.woff2") format("woff2"),
        url("../../fonts/Century/C059-Roman_1.woff") format("woff"),
        url("../../fonts/Century/C059-Roman_1.ttf") format("truetype"),
        url("../../fonts/Century/C059-Roman_1.svg#../../fonts/Century/C059-Roman") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "C059";
    src: url("../../fonts/Century/C059-BdIta_1.eot");
    src:
        url("../../fonts/Century/C059-BdIta_1.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Century/C059-BdIta_1.woff2") format("woff2"),
        url("../../fonts/Century/C059-BdIta_1.woff") format("woff"),
        url("../../fonts/Century/C059-BdIta_1.ttf") format("truetype"),
        url("../../fonts/Century/C059-BdIta_1.svg#../../fonts/Century/C059-BdIta") format("svg");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "C059";
    src: url("../../fonts/Century/C059-Bold.eot");
    src:
        url("../../fonts/Century/C059-Bold.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Century/C059-Bold.woff2") format("woff2"),
        url("../../fonts/Century/C059-Bold.woff") format("woff"),
        url("../../fonts/Century/C059-Bold.ttf") format("truetype"),
        url("../../fonts/Century/C059-Bold.svg#../../fonts/Century/C059-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "C059";
    src: url("../../fonts/Century/C059-Bold_1.eot");
    src:
        url("../../fonts/Century/C059-Bold_1.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Century/C059-Bold_1.woff2") format("woff2"),
        url("../../fonts/Century/C059-Bold_1.woff") format("woff"),
        url("../../fonts/Century/C059-Bold_1.ttf") format("truetype"),
        url("../../fonts/Century/C059-Bold_1.svg#../../fonts/Century/C059-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Cond ExtraBlack";
    src: url("../../fonts/Gotham/GothamCond-XBlack.eot");
    src:
        url("../../fonts/Gotham/GothamCond-XBlack.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamCond-XBlack.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamCond-XBlack.woff") format("woff"),
        url("../../fonts/Gotham/GothamCond-XBlack.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamCond-XBlack.svg#GothamCond-XBlack") format("svg");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Ultra";
    src: url("../../fonts/Gotham/Gotham-UltraItalic.eot");
    src:
        url("../../fonts/Gotham/Gotham-UltraItalic.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/Gotham-UltraItalic.woff2") format("woff2"),
        url("../../fonts/Gotham/Gotham-UltraItalic.woff") format("woff"),
        url("../../fonts/Gotham/Gotham-UltraItalic.ttf") format("truetype"),
        url("../../fonts/Gotham/Gotham-UltraItalic.svg#Gotham-UltraItalic") format("svg");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Narrow Ultra";
    src: url("../../fonts/Gotham/GothamNarrow-Ultra.eot");
    src:
        url("../../fonts/Gotham/GothamNarrow-Ultra.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamNarrow-Ultra.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamNarrow-Ultra.woff") format("woff"),
        url("../../fonts/Gotham/GothamNarrow-Ultra.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamNarrow-Ultra.svg#GothamNarrow-Ultra") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Cond Ultra";
    src: url("../../fonts/Gotham/GothamCond-Ultra.eot");
    src:
        url("../../fonts/Gotham/GothamCond-Ultra.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamCond-Ultra.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamCond-Ultra.woff") format("woff"),
        url("../../fonts/Gotham/GothamCond-Ultra.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamCond-Ultra.svg#GothamCond-Ultra") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham XNarrow";
    src: url("../../fonts/Gotham/GothamXNarrow-BlackItalic.eot");
    src:
        url("../../fonts/Gotham/GothamXNarrow-BlackItalic.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamXNarrow-BlackItalic.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamXNarrow-BlackItalic.woff") format("woff"),
        url("../../fonts/Gotham/GothamXNarrow-BlackItalic.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamXNarrow-BlackItalic.svg#GothamXNarrow-BlackItalic") format("svg");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url("../../fonts/Gotham/Gotham-Black.eot");
    src:
        url("../../fonts/Gotham/Gotham-Black.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/Gotham-Black.woff2") format("woff2"),
        url("../../fonts/Gotham/Gotham-Black.woff") format("woff"),
        url("../../fonts/Gotham/Gotham-Black.ttf") format("truetype"),
        url("../../fonts/Gotham/Gotham-Black.svg#Gotham-Black") format("svg");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham XNarrow Ultra";
    src: url("../../fonts/Gotham/GothamXNarrow-UltraItalic.eot");
    src:
        url("../../fonts/Gotham/GothamXNarrow-UltraItalic.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamXNarrow-UltraItalic.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamXNarrow-UltraItalic.woff") format("woff"),
        url("../../fonts/Gotham/GothamXNarrow-UltraItalic.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamXNarrow-UltraItalic.svg#GothamXNarrow-UltraItalic") format("svg");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Narrow";
    src: url("../../fonts/Gotham/GothamNarrow-BlackItalic.eot");
    src:
        url("../../fonts/Gotham/GothamNarrow-BlackItalic.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamNarrow-BlackItalic.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamNarrow-BlackItalic.woff") format("woff"),
        url("../../fonts/Gotham/GothamNarrow-BlackItalic.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamNarrow-BlackItalic.svg#GothamNarrow-BlackItalic") format("svg");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Cond";
    src: url("../../fonts/Gotham/GothamCond-BlackItalic.eot");
    src:
        url("../../fonts/Gotham/GothamCond-BlackItalic.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamCond-BlackItalic.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamCond-BlackItalic.woff") format("woff"),
        url("../../fonts/Gotham/GothamCond-BlackItalic.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamCond-BlackItalic.svg#GothamCond-BlackItalic") format("svg");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Cond";
    src: url("../../fonts/Gotham/GothamCond-Black.eot");
    src:
        url("../../fonts/Gotham/GothamCond-Black.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamCond-Black.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamCond-Black.woff") format("woff"),
        url("../../fonts/Gotham/GothamCond-Black.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamCond-Black.svg#GothamCond-Black") format("svg");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Narrow Ultra";
    src: url("../../fonts/Gotham/GothamNarrow-UltraItalic.eot");
    src:
        url("../../fonts/Gotham/GothamNarrow-UltraItalic.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamNarrow-UltraItalic.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamNarrow-UltraItalic.woff") format("woff"),
        url("../../fonts/Gotham/GothamNarrow-UltraItalic.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamNarrow-UltraItalic.svg#GothamNarrow-UltraItalic") format("svg");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Cond Ultra";
    src: url("../../fonts/Gotham/GothamCond-UltraItalic.eot");
    src:
        url("../../fonts/Gotham/GothamCond-UltraItalic.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamCond-UltraItalic.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamCond-UltraItalic.woff") format("woff"),
        url("../../fonts/Gotham/GothamCond-UltraItalic.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamCond-UltraItalic.svg#GothamCond-UltraItalic") format("svg");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Cond ExtraBlack";
    src: url("../../fonts/Gotham/GothamCond-XBlackItalic.eot");
    src:
        url("../../fonts/Gotham/GothamCond-XBlackItalic.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamCond-XBlackItalic.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamCond-XBlackItalic.woff") format("woff"),
        url("../../fonts/Gotham/GothamCond-XBlackItalic.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamCond-XBlackItalic.svg#GothamCond-XBlackItalic") format("svg");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gotham XNarrow Ultra";
    src: url("../../fonts/Gotham/GothamXNarrow-Ultra.eot");
    src:
        url("../../fonts/Gotham/GothamXNarrow-Ultra.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamXNarrow-Ultra.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamXNarrow-Ultra.woff") format("woff"),
        url("../../fonts/Gotham/GothamXNarrow-Ultra.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamXNarrow-Ultra.svg#GothamXNarrow-Ultra") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham XNarrow";
    src: url("../../fonts/Gotham/GothamXNarrow-Black.eot");
    src:
        url("../../fonts/Gotham/GothamXNarrow-Black.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamXNarrow-Black.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamXNarrow-Black.woff") format("woff"),
        url("../../fonts/Gotham/GothamXNarrow-Black.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamXNarrow-Black.svg#GothamXNarrow-Black") format("svg");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Ultra";
    src: url("../../fonts/Gotham/Gotham-Ultra.eot");
    src:
        url("../../fonts/Gotham/Gotham-Ultra.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/Gotham-Ultra.woff2") format("woff2"),
        url("../../fonts/Gotham/Gotham-Ultra.woff") format("woff"),
        url("../../fonts/Gotham/Gotham-Ultra.ttf") format("truetype"),
        url("../../fonts/Gotham/Gotham-Ultra.svg#Gotham-Ultra") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url("../../fonts/Gotham/Gotham-BlackItalic.eot");
    src:
        url("../../fonts/Gotham/Gotham-BlackItalic.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/Gotham-BlackItalic.woff2") format("woff2"),
        url("../../fonts/Gotham/Gotham-BlackItalic.woff") format("woff"),
        url("../../fonts/Gotham/Gotham-BlackItalic.ttf") format("truetype"),
        url("../../fonts/Gotham/Gotham-BlackItalic.svg#Gotham-BlackItalic") format("svg");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url("../../fonts/Gotham/Gotham-Bold.eot");
    src:
        url("../../fonts/Gotham/Gotham-Bold.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/Gotham-Bold.woff2") format("woff2"),
        url("../../fonts/Gotham/Gotham-Bold.woff") format("woff"),
        url("../../fonts/Gotham/Gotham-Bold.ttf") format("truetype"),
        url("../../fonts/Gotham/Gotham-Bold.svg#Gotham-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Narrow";
    src: url("../../fonts/Gotham/GothamNarrow-Black.eot");
    src:
        url("../../fonts/Gotham/GothamNarrow-Black.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamNarrow-Black.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamNarrow-Black.woff") format("woff"),
        url("../../fonts/Gotham/GothamNarrow-Black.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamNarrow-Black.svg#GothamNarrow-Black") format("svg");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url("../../fonts/Gotham/Gotham-BoldItalic.eot");
    src:
        url("../../fonts/Gotham/Gotham-BoldItalic.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/Gotham-BoldItalic.woff2") format("woff2"),
        url("../../fonts/Gotham/Gotham-BoldItalic.woff") format("woff"),
        url("../../fonts/Gotham/Gotham-BoldItalic.ttf") format("truetype"),
        url("../../fonts/Gotham/Gotham-BoldItalic.svg#Gotham-BoldItalic") format("svg");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url("../../fonts/Gotham/Gotham-Book.eot");
    src:
        url("../../fonts/Gotham/Gotham-Book.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/Gotham-Book.woff2") format("woff2"),
        url("../../fonts/Gotham/Gotham-Book.woff") format("woff"),
        url("../../fonts/Gotham/Gotham-Book.ttf") format("truetype"),
        url("../../fonts/Gotham/Gotham-Book.svg#Gotham-Book") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url("../../fonts/Gotham/Gotham-BookItalic.eot");
    src:
        url("../../fonts/Gotham/Gotham-BookItalic.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/Gotham-BookItalic.woff2") format("woff2"),
        url("../../fonts/Gotham/Gotham-BookItalic.woff") format("woff"),
        url("../../fonts/Gotham/Gotham-BookItalic.ttf") format("truetype"),
        url("../../fonts/Gotham/Gotham-BookItalic.svg#Gotham-BookItalic") format("svg");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url("../../fonts/Gotham/Gotham-Medium.eot");
    src:
        url("../../fonts/Gotham/Gotham-Medium.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/Gotham-Medium.woff2") format("woff2"),
        url("../../fonts/Gotham/Gotham-Medium.woff") format("woff"),
        url("../../fonts/Gotham/Gotham-Medium.ttf") format("truetype"),
        url("../../fonts/Gotham/Gotham-Medium.svg#Gotham-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Cond";
    src: url("../../fonts/Gotham/GothamCond-Book.eot");
    src:
        url("../../fonts/Gotham/GothamCond-Book.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamCond-Book.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamCond-Book.woff") format("woff"),
        url("../../fonts/Gotham/GothamCond-Book.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamCond-Book.svg#GothamCond-Book") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url("../../fonts/Gotham/Gotham-ThinItalic.eot");
    src:
        url("../../fonts/Gotham/Gotham-ThinItalic.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/Gotham-ThinItalic.woff2") format("woff2"),
        url("../../fonts/Gotham/Gotham-ThinItalic.woff") format("woff"),
        url("../../fonts/Gotham/Gotham-ThinItalic.ttf") format("truetype"),
        url("../../fonts/Gotham/Gotham-ThinItalic.svg#Gotham-ThinItalic") format("svg");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url("../../fonts/Gotham/Gotham-XLightItalic.eot");
    src:
        url("../../fonts/Gotham/Gotham-XLightItalic.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/Gotham-XLightItalic.woff2") format("woff2"),
        url("../../fonts/Gotham/Gotham-XLightItalic.woff") format("woff"),
        url("../../fonts/Gotham/Gotham-XLightItalic.ttf") format("truetype"),
        url("../../fonts/Gotham/Gotham-XLightItalic.svg#Gotham-XLightItalic") format("svg");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Cond";
    src: url("../../fonts/Gotham/GothamCond-BoldItalic.eot");
    src:
        url("../../fonts/Gotham/GothamCond-BoldItalic.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamCond-BoldItalic.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamCond-BoldItalic.woff") format("woff"),
        url("../../fonts/Gotham/GothamCond-BoldItalic.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamCond-BoldItalic.svg#GothamCond-BoldItalic") format("svg");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url("../../fonts/Gotham/Gotham-MediumItalic.eot");
    src:
        url("../../fonts/Gotham/Gotham-MediumItalic.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/Gotham-MediumItalic.woff2") format("woff2"),
        url("../../fonts/Gotham/Gotham-MediumItalic.woff") format("woff"),
        url("../../fonts/Gotham/Gotham-MediumItalic.ttf") format("truetype"),
        url("../../fonts/Gotham/Gotham-MediumItalic.svg#Gotham-MediumItalic") format("svg");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url("../../fonts/Gotham/Gotham-LightItalic.eot");
    src:
        url("../../fonts/Gotham/Gotham-LightItalic.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/Gotham-LightItalic.woff2") format("woff2"),
        url("../../fonts/Gotham/Gotham-LightItalic.woff") format("woff"),
        url("../../fonts/Gotham/Gotham-LightItalic.ttf") format("truetype"),
        url("../../fonts/Gotham/Gotham-LightItalic.svg#Gotham-LightItalic") format("svg");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Cond";
    src: url("../../fonts/Gotham/GothamCond-Bold.eot");
    src:
        url("../../fonts/Gotham/GothamCond-Bold.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamCond-Bold.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamCond-Bold.woff") format("woff"),
        url("../../fonts/Gotham/GothamCond-Bold.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamCond-Bold.svg#GothamCond-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Cond";
    src: url("../../fonts/Gotham/GothamCond-LightItalic.eot");
    src:
        url("../../fonts/Gotham/GothamCond-LightItalic.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamCond-LightItalic.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamCond-LightItalic.woff") format("woff"),
        url("../../fonts/Gotham/GothamCond-LightItalic.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamCond-LightItalic.svg#GothamCond-LightItalic") format("svg");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Cond";
    src: url("../../fonts/Gotham/GothamCond-XLightItalic.eot");
    src:
        url("../../fonts/Gotham/GothamCond-XLightItalic.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamCond-XLightItalic.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamCond-XLightItalic.woff") format("woff"),
        url("../../fonts/Gotham/GothamCond-XLightItalic.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamCond-XLightItalic.svg#GothamCond-XLightItalic") format("svg");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Narrow";
    src: url("../../fonts/Gotham/GothamNarrow-XLightItalic.eot");
    src:
        url("../../fonts/Gotham/GothamNarrow-XLightItalic.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamNarrow-XLightItalic.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamNarrow-XLightItalic.woff") format("woff"),
        url("../../fonts/Gotham/GothamNarrow-XLightItalic.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamNarrow-XLightItalic.svg#GothamNarrow-XLightItalic") format("svg");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Narrow";
    src: url("../../fonts/Gotham/GothamNarrow-ThinItalic.eot");
    src:
        url("../../fonts/Gotham/GothamNarrow-ThinItalic.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamNarrow-ThinItalic.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamNarrow-ThinItalic.woff") format("woff"),
        url("../../fonts/Gotham/GothamNarrow-ThinItalic.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamNarrow-ThinItalic.svg#GothamNarrow-ThinItalic") format("svg");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Narrow";
    src: url("../../fonts/Gotham/GothamNarrow-BoldItalic.eot");
    src:
        url("../../fonts/Gotham/GothamNarrow-BoldItalic.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamNarrow-BoldItalic.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamNarrow-BoldItalic.woff") format("woff"),
        url("../../fonts/Gotham/GothamNarrow-BoldItalic.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamNarrow-BoldItalic.svg#GothamNarrow-BoldItalic") format("svg");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Narrow";
    src: url("../../fonts/Gotham/GothamNarrow-Medium.eot");
    src:
        url("../../fonts/Gotham/GothamNarrow-Medium.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamNarrow-Medium.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamNarrow-Medium.woff") format("woff"),
        url("../../fonts/Gotham/GothamNarrow-Medium.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamNarrow-Medium.svg#GothamNarrow-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham XNarrow";
    src: url("../../fonts/Gotham/GothamXNarrow-LightItalic.eot");
    src:
        url("../../fonts/Gotham/GothamXNarrow-LightItalic.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamXNarrow-LightItalic.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamXNarrow-LightItalic.woff") format("woff"),
        url("../../fonts/Gotham/GothamXNarrow-LightItalic.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamXNarrow-LightItalic.svg#GothamXNarrow-LightItalic") format("svg");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Cond";
    src: url("../../fonts/Gotham/GothamCond-Medium.eot");
    src:
        url("../../fonts/Gotham/GothamCond-Medium.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamCond-Medium.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamCond-Medium.woff") format("woff"),
        url("../../fonts/Gotham/GothamCond-Medium.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamCond-Medium.svg#GothamCond-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Cond";
    src: url("../../fonts/Gotham/GothamCond-MediumItalic.eot");
    src:
        url("../../fonts/Gotham/GothamCond-MediumItalic.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamCond-MediumItalic.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamCond-MediumItalic.woff") format("woff"),
        url("../../fonts/Gotham/GothamCond-MediumItalic.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamCond-MediumItalic.svg#GothamCond-MediumItalic") format("svg");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Narrow";
    src: url("../../fonts/Gotham/GothamNarrow-Thin.eot");
    src:
        url("../../fonts/Gotham/GothamNarrow-Thin.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamNarrow-Thin.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamNarrow-Thin.woff") format("woff"),
        url("../../fonts/Gotham/GothamNarrow-Thin.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamNarrow-Thin.svg#GothamNarrow-Thin") format("svg");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham XNarrow";
    src: url("../../fonts/Gotham/GothamXNarrow-Bold.eot");
    src:
        url("../../fonts/Gotham/GothamXNarrow-Bold.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamXNarrow-Bold.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamXNarrow-Bold.woff") format("woff"),
        url("../../fonts/Gotham/GothamXNarrow-Bold.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamXNarrow-Bold.svg#GothamXNarrow-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Narrow";
    src: url("../../fonts/Gotham/GothamNarrow-BookItalic.eot");
    src:
        url("../../fonts/Gotham/GothamNarrow-BookItalic.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamNarrow-BookItalic.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamNarrow-BookItalic.woff") format("woff"),
        url("../../fonts/Gotham/GothamNarrow-BookItalic.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamNarrow-BookItalic.svg#GothamNarrow-BookItalic") format("svg");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gotham XNarrow";
    src: url("../../fonts/Gotham/GothamXNarrow-BoldItalic.eot");
    src:
        url("../../fonts/Gotham/GothamXNarrow-BoldItalic.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamXNarrow-BoldItalic.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamXNarrow-BoldItalic.woff") format("woff"),
        url("../../fonts/Gotham/GothamXNarrow-BoldItalic.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamXNarrow-BoldItalic.svg#GothamXNarrow-BoldItalic") format("svg");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Cond";
    src: url("../../fonts/Gotham/GothamCond-BookItalic.eot");
    src:
        url("../../fonts/Gotham/GothamCond-BookItalic.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamCond-BookItalic.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamCond-BookItalic.woff") format("woff"),
        url("../../fonts/Gotham/GothamCond-BookItalic.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamCond-BookItalic.svg#GothamCond-BookItalic") format("svg");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Cond";
    src: url("../../fonts/Gotham/GothamCond-ThinItalic.eot");
    src:
        url("../../fonts/Gotham/GothamCond-ThinItalic.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamCond-ThinItalic.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamCond-ThinItalic.woff") format("woff"),
        url("../../fonts/Gotham/GothamCond-ThinItalic.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamCond-ThinItalic.svg#GothamCond-ThinItalic") format("svg");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gotham XNarrow";
    src: url("../../fonts/Gotham/GothamXNarrow-Medium.eot");
    src:
        url("../../fonts/Gotham/GothamXNarrow-Medium.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamXNarrow-Medium.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamXNarrow-Medium.woff") format("woff"),
        url("../../fonts/Gotham/GothamXNarrow-Medium.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamXNarrow-Medium.svg#GothamXNarrow-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url("../../fonts/Gotham/Gotham-Light.eot");
    src:
        url("../../fonts/Gotham/Gotham-Light.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/Gotham-Light.woff2") format("woff2"),
        url("../../fonts/Gotham/Gotham-Light.woff") format("woff"),
        url("../../fonts/Gotham/Gotham-Light.ttf") format("truetype"),
        url("../../fonts/Gotham/Gotham-Light.svg#Gotham-Light") format("svg");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Cond";
    src: url("../../fonts/Gotham/GothamCond-Thin.eot");
    src:
        url("../../fonts/Gotham/GothamCond-Thin.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamCond-Thin.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamCond-Thin.woff") format("woff"),
        url("../../fonts/Gotham/GothamCond-Thin.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamCond-Thin.svg#GothamCond-Thin") format("svg");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham XNarrow";
    src: url("../../fonts/Gotham/GothamXNarrow-Thin.eot");
    src:
        url("../../fonts/Gotham/GothamXNarrow-Thin.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamXNarrow-Thin.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamXNarrow-Thin.woff") format("woff"),
        url("../../fonts/Gotham/GothamXNarrow-Thin.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamXNarrow-Thin.svg#GothamXNarrow-Thin") format("svg");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url("../../fonts/Gotham/Gotham-Thin.eot");
    src:
        url("../../fonts/Gotham/Gotham-Thin.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/Gotham-Thin.woff2") format("woff2"),
        url("../../fonts/Gotham/Gotham-Thin.woff") format("woff"),
        url("../../fonts/Gotham/Gotham-Thin.ttf") format("truetype"),
        url("../../fonts/Gotham/Gotham-Thin.svg#Gotham-Thin") format("svg");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Cond";
    src: url("../../fonts/Gotham/GothamCond-Light.eot");
    src:
        url("../../fonts/Gotham/GothamCond-Light.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamCond-Light.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamCond-Light.woff") format("woff"),
        url("../../fonts/Gotham/GothamCond-Light.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamCond-Light.svg#GothamCond-Light") format("svg");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham XNarrow";
    src: url("../../fonts/Gotham/GothamXNarrow-MediumItalic.eot");
    src:
        url("../../fonts/Gotham/GothamXNarrow-MediumItalic.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamXNarrow-MediumItalic.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamXNarrow-MediumItalic.woff") format("woff"),
        url("../../fonts/Gotham/GothamXNarrow-MediumItalic.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamXNarrow-MediumItalic.svg#GothamXNarrow-MediumItalic") format("svg");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gotham XNarrow";
    src: url("../../fonts/Gotham/GothamXNarrow-ThinItalic.eot");
    src:
        url("../../fonts/Gotham/GothamXNarrow-ThinItalic.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamXNarrow-ThinItalic.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamXNarrow-ThinItalic.woff") format("woff"),
        url("../../fonts/Gotham/GothamXNarrow-ThinItalic.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamXNarrow-ThinItalic.svg#GothamXNarrow-ThinItalic") format("svg");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Cond";
    src: url("../../fonts/Gotham/GothamCond-XLight.eot");
    src:
        url("../../fonts/Gotham/GothamCond-XLight.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamCond-XLight.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamCond-XLight.woff") format("woff"),
        url("../../fonts/Gotham/GothamCond-XLight.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamCond-XLight.svg#GothamCond-XLight") format("svg");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url("../../fonts/Gotham/Gotham-XLight.eot");
    src:
        url("../../fonts/Gotham/Gotham-XLight.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/Gotham-XLight.woff2") format("woff2"),
        url("../../fonts/Gotham/Gotham-XLight.woff") format("woff"),
        url("../../fonts/Gotham/Gotham-XLight.ttf") format("truetype"),
        url("../../fonts/Gotham/Gotham-XLight.svg#Gotham-XLight") format("svg");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham XNarrow";
    src: url("../../fonts/Gotham/GothamXNarrow-Light.eot");
    src:
        url("../../fonts/Gotham/GothamXNarrow-Light.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamXNarrow-Light.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamXNarrow-Light.woff") format("woff"),
        url("../../fonts/Gotham/GothamXNarrow-Light.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamXNarrow-Light.svg#GothamXNarrow-Light") format("svg");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham XNarrow";
    src: url("../../fonts/Gotham/GothamXNarrow-XLightItalic.eot");
    src:
        url("../../fonts/Gotham/GothamXNarrow-XLightItalic.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamXNarrow-XLightItalic.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamXNarrow-XLightItalic.woff") format("woff"),
        url("../../fonts/Gotham/GothamXNarrow-XLightItalic.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamXNarrow-XLightItalic.svg#GothamXNarrow-XLightItalic") format("svg");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gotham XNarrow";
    src: url("../../fonts/Gotham/GothamXNarrow-XLight.eot");
    src:
        url("../../fonts/Gotham/GothamXNarrow-XLight.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Gotham/GothamXNarrow-XLight.woff2") format("woff2"),
        url("../../fonts/Gotham/GothamXNarrow-XLight.woff") format("woff"),
        url("../../fonts/Gotham/GothamXNarrow-XLight.ttf") format("truetype"),
        url("../../fonts/Gotham/GothamXNarrow-XLight.svg#GothamXNarrow-XLight") format("svg");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
