<header class="header" scroll-fixed>
    <div class="container">
        <div class="header-inner">
            <div class="row align-items-center">
                <div class="col">
                    <div class="header-logo">
                        <svg width="100%" height="100%" fill="none" xmlns="http://www.w3.org/2000/svg"
                            aria-hidden="true" focusable="false">
                            <use xlink:href="./sprite.svg#logo"></use>
                        </svg>
                        <a href="/" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="header-menu">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <button type="button" class="btn btn-icon btn-icon-burger">
                                    <svg width="100%" height="100%" fill="none" xmlns="http://www.w3.org/2000/svg"
                                        aria-hidden="true" focusable="false">
                                        <use xlink:href="./sprite.svg#burger"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>