:root {
  --section-reviews-padding-y: 6.25rem;
  --section-reviews-padding-x: 0;
  --section-reviews-gap: 2.25rem;
  --section-reviews-list-gap: 1.65rem;
  @media (min-width: 1200px) {
    --section-reviews-padding-y: 12.5rem;
    --section-reviews-gap: 4.563rem;
    --section-reviews-list-gap: 3.203rem;
  }
}

.section-reviews {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  padding: var(--section-integrations-padding-y) var(--section-integrations-padding-x);
  &-inner {
    display: flex;
    flex-direction: column;
    row-gap: var(--section-reviews-gap);
    column-gap: var(--section-reviews-gap);
  }
  &-list {
    display: flex;
    flex-direction: column;
    row-gap: var(--section-reviews-list-gap);
    column-gap: var(--section-reviews-list-gap);
  }
  &-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: calc(var(--section-integrations-padding-y) / 3) 0 0 0;
  }
}
